{%extends 'base.html'%}

{%block title%}Log-in{%endblock%}

{%block body%}
<h3 class="mt-4">Log-in</h3>
<hr>
<p class="mt-2">Please, use the following form to log-in:</p>
<form action="." method="post">
    {%csrf_token%}
    {{form.as_p}}
    <button class="btn btn-outline-success mb-2" type="submit">Log-in</button>
</form>
<p><a href="{% url 'password_reset'%}">Forgotten your password?</a></p>
<p><a href="{%url 'RegistrationView'%}">Registration</a></p>
<p><a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger">login with Google</a></p>
{%endblock%}