{%extends 'base.html'%}

{%block title%}Password reset{%endblock%}

{%block body%}
<h1 class="mt-3">Reset your password</h1>
<hr>
{%if validlink%}
<p>Please enter your new password twice:</p>
<form action="." method="post" class="mt-2">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <button type="submit" class="btn btn-outline-success">Change</button>
    </p>
</form>
{%else%}
<p>The password reset link was invalid, possibly because it
    has already been used. Please request a new password reset.</p>
{%endif%}
{%endblock%}